<div class="container-fulid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner swiper">
                <div class="item active ">
                    <img src="./assets/img/swiperImg/show01.jpeg" alt="First slide">
                </div>
                <div class="item">
                    <img src="./assets/img/swiperImg/show02.jpeg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="./assets/img/swiperImg/show03.jpeg" alt="Third slide">
                </div>
                <div class="item">
                    <img src="./assets/img/swiperImg/show04.jpeg" alt="Third slide">
                </div>
            </div>
        </div> 

        


        <!-- 缩略图 -->
      <div class="container-fulid suolve">
        <div class="row bg">
            <div class="col-sm-3 col-md-2 col-md-offset-2 slide-one" >
                <a href="#" class="thumbnail">
                    <img src="./assets/img/swiperImg/show01.jpeg">
                </a>
            </div>
            <div class="col-sm-3 col-md-2 slide-two">
                <a href="#" class="thumbnail">
                    <img src="./assets/img/swiperImg/show02.jpeg">
                </a>
            </div>
            <div class="col-sm-3 col-md-2 slide-three">
                <a href="#" class="thumbnail">
                    <img src="./assets/img/swiperImg/show03.jpeg">
                </a>
            </div>
            <div class="col-sm-3 col-md-2 slide-four">
                <a href="#" class="thumbnail">
                    <img src="./assets/img/swiperImg/show04.jpeg">
                </a>
            </div>
          </div>

        </div>
    </div>

