<div class="bg">
    <img src="./assets/img/bg.jpg" alt="">
  </div>
  <div class="logo">
    <img src="./assets/img/logomin.png" alt="">
  </div>
  <div class="container">
    <input type="text" class="form-control tel" placeholder="您的手机号码">
    <button class="btn btnbg btn-block">立即注册</button>
    <div class="hrb"></div>
    <p class="team">用合作网站账户直接登录</p>
    <div class="icon">
      <div class="icon1-1">
        <div class="icon1"></div>
        <p>新浪微博</p>
      </div>
      <div class="icon2-1">
        <div class="icon2"></div>
        <p>QQ</p>
      </div>
      <div class="icon3-1">
        <div class="icon3"></div>
        <p>微信</p>
      </div>
    </div>
  </div>
  <div class="without">
    <span class="txtc1">已经注册？</span><span class="txtc2">马上登录</span>
  </div>