<div>
  <span class="title">发起结伴</span>
  <span>（一个真诚的请求，才会赢得更多靠谱的旅伴）</span>
</div>
  <form action="" class="form-horizontal">
    <!-- 活动标题 -->
    <div class="form-group">

    </div>
    <div class="form-group">
      <label for="input1" class="col-xs-2 control-label">活动标题</label>
      <div class="col-xs-9">
        <input type="text" class="form-control" id="input1" placeholder="一句话开始一段靠谱旅程">
      </div>
    </div>
    <!-- 联系方式 -->
    <div class="form-group">
      <label for="input2" class="col-xs-2 control-label">联系方式</label>
      <div class="col-xs-10 form-inline">
        <input type="text" class="form-control" id="input2" placeholder="手机/">
        <input type="text" class="form-control" placeholder="QQ/">
        <input type="text" class="form-control" placeholder="微信/">&nbsp;&nbsp;&nbsp;(可选填)
      </div>
    </div>
    <!-- 目的地 -->
    <div class="form-group">
      <label for="input3" class="col-xs-2 control-label">目的地</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" id="input3" placeholder="请输入目的地">
      </div>
    </div>
    <!-- 出发地 -->
    <div class="form-group">
      <label for="input3" class="col-xs-2 control-label">出发地</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" id="input3" placeholder="输入出发地">
      </div>
    </div>
    <!-- 出发时间 -->
    <div class="form-group">
      <label for="input4" class="col-xs-2 control-label">出发时间</label>
      <div class="col-xs-5">
        <input type="date" class="form-control" id="input4" placeholder="出发日期">
      </div>
    </div>
    <!-- 活动天数 -->
    <div class="form-group">
      <label for="input5" class="col-xs-2 control-label">活动天数</label>
      <div class="col-xs-10 form-inline">
        <input type="text" class="form-control formdate" id="input5"><span>天</span>
      </div>
    </div>
    <!-- 限制人数 -->
    <div class="form-group">
      <label for="input6" class="col-xs-2 control-label">限制人数</label>
      <div class="col-xs-10 form-inline">
        <input type="text" class="form-control formdate" id="input6"><span>人</span>
      </div>
    </div>
    <!-- 结伴描述 -->
    <div class="form-group">
      <label for="input7" class="col-xs-2 control-label">结伴描述</label>
      <div class="col-xs-10">
        <textarea id="input7" rows="10" cols="100" placeholder="尽可能详细的将你的意向说清楚，除非你愿意尝试下边的：
a.如果你想结伴无人问津
b.如果你想浪费更多时间在逐个沟通相同问题
c.如果你想让旅途遇到猪队友"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label">封面图片</label>
      <div class="col-xs-1">
        <img src="./assets/img/add.png" alt="" width="100%">
      </div>
    </div>
    <button class="btn btnbg">发表结伴</button>
  </form>