.title{
    /* line-height: 2.5em; */
    font-size: 20px;
    margin-left: 11.4%;
}
.formdate{
    width: 49%;
    margin-right: 10px;
}
.btnbg{
    background: #ff9d00;
    margin-left: 17%;
    width: 120px;
}