<div class="container">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-2 col-sm-9 col-sm-offset-2">
        <img src="./assets/img/resident-hd.png" alt="">
        <button class="btn btnbg glyphicon glyphicon-edit pull-right">写游记</button>
        
    </div>
    
  </div>
  <hr>
<!-- 游记正文 -->
<!-- 第一行 -->
  <div class="row">
    <!-- 左边 -->
    <div class="col-xs-6">

    
      <div class="row">
      <!-- 出游攻略 -->
        <div class="col-xs-3">
          <p>出游攻略</p>
          <p>发布时间</p>
          <p>作者</p>
          <img src="" alt="">
          <p>暖暖的旅行</p>
        </div>
      
      <!-- 旅游图片 -->
        <div class="col-xs-3">
          <div>
            <img src="./assets/img/artimg/art (1).jpeg" alt="">
          </div>
          <p></p>
        </div>
      </div>
    </div>
    <!-- 右边 -->
    <div class="col-xs-6">
      <div class="row">
      <!-- 出游攻略 -->
        <div class="col-xs-3">
          <p>出游攻略</p>
          <p>发布时间</p>
          <p>作者</p>
          <img src="" alt="">
          <p>暖暖的旅行</p>
        </div>
            
      <!-- 旅游图片 -->
          <div class="col-xs-3">
            <div>
              <img src="./assets/img/artimg/art (1).jpeg" alt="">
            </div>
            <div>
              <p>山西所见————崛围山感受秋之美</p>
              <p>时间：</p>
            </div>
          </div>
      </div>
    </div>
  </div>




</div>
