<div class="container-fulid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="./assets/img/youji/wKgBZ1lCLcSAJAcIAAYww7LcRBs97.jpeg" alt="" width="100%">
    </div>
  </div>
  <div class="row">
    <!-- 左边正文部分 -->
    <div class="col-xs-7 col-xs-offset-1">
      <div class="txt">
        <h3>2017在春天过春节，纯净新西兰14天2500公里自驾游</h3>
        <hr>
        <p></p>
        <img src="../../../assets/img/youji/wKgBZ1lnLCuAGVQoACZW96OmPV854.jpeg" class="txtImg">
      </div>
    </div>
    <!-- 右边留言评论 -->
    <div class="col-xs-4">
      <div class="note">
        <h4 class="note1">留言评论</h4>
      </div>

    </div>

  </div>



</div>