<div class="container-fulid">
    <div class="row">
      <div class="col-xs-12" >
        <img src="./assets/img/jieban/temp.jpeg" width="100%">
        <span class="imgtitle">国庆7天甘南游，旅程因你而精彩</span>
      </div>
    </div>
</div>
<div class="bgc">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <p class="titletxt">国庆7天甘南游，旅程因你而精彩</p>
        <div class="titlehr"></div>
        <div>
          <ul>
            <li>出发地：兰州</li>
            <li>出发时间：2017-10-01</li>
            <li>目的地：四川青海|甘肃|甘南</li>
            <li>大约：7天</li>
            <li>希望人数：6人</li>
            <li>发布人：
              <img src="./assets/img/userImg/user01.jpeg" alt="" width="4%" class="imgicon">
              <span class="username">沧海一粟</span>
            </li>
          </ul>
        </div>
        <!-- 结伴描述 -->
        <div>
          <p class="titletxt">结伴描述</p>
          <div class="titlehr"></div>
          <p class="details">
              经过这几年锻炼，已经比较能适应长途飞行了。经过14小时的飞行，终于到达基督城。
              基督城机场并不大，出境卡要认真填写，不要带任何食物入境。使用过的户外设备（登山鞋、登山杖、帐篷等等都
              需要如实申报，并且在出发前清理干净上面的泥土砂石）。
              如果不小心带了食物，记得在下飞机前往入境处的地方就果断丢弃，一路上都有各种语言的提示，让你丢弃，
              非常重要，否则很有可能面临罚款甚至拒绝入境。
          </p>
        </div>
        <!-- 我要报名 -->
        <div>
          <p class="titletxt">我要报名</p>
          <div class="titlehr"></div>
          <br>
          <form action="">
            <span class="input-txt">结伴人数</span><input type="text" class="input-txt"><br><br>
            <span class="input-txt">联系电话</span><input type="text" class="input-txt"><br><br>
            <span class="input-txt">同行人数</span><input type="text" class="man">男/人<input type="text" class="man">女/人
            <br><br>
            <button class="btn">报名</button>
          </form>
        </div>
      </div>
      <!-- 10人报名 -->
      <div class="col-xs-4">
        <div class="note-title">
          <p class="note1-title">10人报名</p>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
            <p class="text-center">芝麻</p>
          </div>
          <div class="col-xs-3">
            <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
            <p class="text-center">芝麻</p>
          </div>
          <div class="col-xs-3">
            <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
            <p class="text-center">芝麻</p>
          </div>
          <div class="col-xs-3">
            <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
            <p class="text-center">芝麻</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
              <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
              <p class="text-center">芝麻</p>
            </div>
            <div class="col-xs-3">
              <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
              <p class="text-center">芝麻</p>
            </div>
            <div class="col-xs-3">
              <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
              <p class="text-center">芝麻</p>
            </div>
            <div class="col-xs-3">
              <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
              <p class="text-center">芝麻</p>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
              <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
              <p class="text-center">芝麻</p>
            </div>
            <div class="col-xs-3">
              <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
              <p class="text-center">芝麻</p>
            </div>
            <div class="col-xs-3">
              <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
              <p class="text-center">芝麻</p>
            </div>
            <div class="col-xs-3">
              <img src="./assets/img/userImg/user01.jpeg" alt="" width="100%" class="applyimg">
              <p class="text-center">芝麻</p>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>